li {
    list-style: none;/*  quita los puntos de la lista */
}
.skills{
    background-color: #252A2E;/*  color de fondo */
    color: #fff;/*  color de letra */
    padding: 50px 20px;/*  padding de arriba y abajo 50px y de izquierda y derecha 20px */
}
.skills .contenido-seccion{
    max-width: 1100px;/*  ancho maximo de la seccion */
    margin: auto;/*  centra el contenido */
}
.skills h2{
    font-size: 48px;/*  tamaño de la letra */
    font-family: 'Righteous';/*  tipo de letra */
    text-align: center;/*  alinea el texto al centro */
    padding: 20px 0;/*  padding de arriba y abajo 20px y de izquierda y derecha 0 */

}
.skills .fila{
    display: flex;/*  flexbox */
}
.skills .fila .col{
    width: 50%;/*  ancho de la columna */
    padding: 0 20px;/*  padding de arriba y abajo 0 y de izquierda y derecha 20px */
}
.skills .fila {
    font-size: 28px;/*  tamaño de la letra */
    font-family: 'Righteous';/*  tipo de letra */
    margin-bottom: 25px;/*  margen de abajo 25px */
}
.skills .skill > span{
    font-weight: bold;/*  negrita */
    display: block;/*  bloque */
    margin-bottom: 10px;/*  margen de abajo 10px */
}
.skills .skill .barra-skill{
    height: 8px;/*  altura de la barra */
    width: 80%;/*  ancho de la barra */
    background-color: #576069;/*  color de fondo de la barra */
    position: relative;/*  posicion relativa */
    margin-bottom: 30px;/*  margen de abajo 30px */
}
.skills .skill .progreso{
    background-color: #1CB698;/*  color de fondo de la barra */
    position: absolute;/*  posicion absoluta */
    top: 0;/*  arriba 0 */
    left: 0;/*  izquierda 0 */
    height: 8px;/*  altura de la barra */
}
.skills .skill .barra-skill span{
    position: absolute;/*  posicion absoluta */
    height: 40px;/*  altura de la barra */
    width: 40px;/*  ancho de la barra */
    background-color: #1CB698;/*  color de fondo de la barra */
    border-radius: 50px;/*  borde redondeado */
    line-height: 40px;/*  altura de linea 40px */
    text-align: center;/*  alinea el texto al centro */
    top: -17px;/*  arriba -17px */
    right: -15px;/*  derecha -15px */
    font-size: 14px;/*  tamaño de la letra */
}
/* Estas clases se agregaran dinamicamente mediante javascript cuando lo consiga */
.skills .skill .javascript{
    width: 0%;/*  ancho de la barra */
    *animation: 2s javascript forwards;/*  animacion de 2 segundos */
}
@keyframes  javascript{
    0%{width: 0%;}
    100%{width: 75%;}
}
.skills .skill .html{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes html {
    0%{width: 0%;}
    100%{width: 80%;}
}
.skills .skill .Css{
    width: 0%;
    animation: 2s css forwards;
}
@keyframes css {
    0%{width: 0%;}
    100%{width: 60%;}
}
.skills .skill .React{
    width: 0%;
    animation: 2s react forwards;
}
@keyframes react {
    0%{width: 0%;}
    20%{width: 60%;}
}
.skills .skill .Node{
    width: 0%;
    animation: 2s node forwards;
}
@keyframes node {
    0%{width: 0%;}
    40%{width: 40%;}
}
.skills .skill .Mongo{
    width: 0%;
    animation: 2s mongo forwards;
}
@keyframes mongo {
    0%{width: 0%;}
    50%{width: 50%;}
}
.skills .skill .Git{
    width: 0%;
    animation: 2s git forwards;
}
@keyframes git {
    0%{width: 0%;}
    80%{width: 80%;}
}


/*iconos*/
.iconoSkill{
    background-color: #3a4146;/*  color de fondo */
    color: #fff;/*  color de letra */
    padding: 50px 20px;/*  padding de arriba y abajo 50px y de izquierda y derecha 20px */
    width: 100px;/*  ancho de la columna */
    display: flex;/*  flexbox */
    flex-wrap: wrap;/*  envuelve los elementos */
    border-radius: 10px;/*  borde redondeado */
    flex-direction: column;/*  direccion de los elementos */
    align-items: center;/*  alinea los elementos al centro */
    justify-content: center;/*  justifica los elementos al centro */

}
.barra-skill .progreso.animate {
    animation: progress 1s forwards;
  }
@media screen and (max-width:700px){/*  media query */
    .skills .fila{/*  flexbox */
        display: block;/*  bloque */
    }
    .skills .fila .col{
        width: 100%;/*  ancho de la columna */
    }
    .skills .fila .col .barra-skill{
        width: 100%;/*  ancho de la barra */
    }
}
